*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #222;
    color:#eee;
    font-family: system-ui, sans-serif;
}
.btn{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: unset;
}
ul{
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center
}
li>a{
    display: block;
    /* border: 1px solid yellow; */
    padding: .8rem 1rem;
}
#banner{
    position: relative;
    height: 400px;
    background-color: #3335;
}
#slider{
    margin: 0 auto;
    width: 70%;
    /* border: 1px solid #777; */
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
}
#slider::-webkit-scrollbar{
    display: none;
}
.img{
    scroll-snap-align: center;
    flex:1 0 100%;
    height: 100%;
    width: 30%;
    display: flex;
    /* font-size: 500%; */
    justify-content: center;
    align-items: center;
    /* background: #999; */
    /* border: 1px solid #555; */
    background-size: 20%;
    background-repeat: no-repeat;
    background-position:center ;
    transition: background-size .3s ease;
}
.img:hover{
    background-size: 50%;
}
#slider-btns{
    position: absolute;
    left: 20%;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    z-index: 1;
}
#slider-btns>a{
    display: inline-block;
    height: .4rem;
    width: .4rem;
    border-radius: .4rem;
    background-color: #444;
    transition: background-color .2s ease;
}
#slider-btns>a:hover{
    background-color: #777;
}
#slider-btns > a.on{
    width: 1rem;
    background-color: #ccc;
}
#books{
    position: absolute;
    top: 0;
    left: 15%;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    /* background-image:linear-gradient(rgb(0, 255, 0), rgba(255, 230, 0, 0.829)); */
}
#book-title{
    font-size: 180%;
    background-image: linear-gradient(to left, blue, pink);
    background-clip: text;
    color: transparent;
}
#book-author{
    color: #888
}
#book-rating{
    font-size: 80%;
    margin-top: .7rem;
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    border-radius:  24px;
    width: fit-content;
    color: #ffd700;
    display: flex;
    align-items: center;
    gap: .5rem;
}
:target{
    scroll-snap-align: center;
}
#skateboard{
    background-image: url(summer_term_at_malory_towers.jpg);
}
#strawberry{
    background-image: url(fun_and_games_at_malory_towers.jpg);
}
#smile{
    background-image: url(winter_term_at_malory_towers.jpg);
}
#cake{
    background-image: url(new_term_at_malory_towers.jpg);
}
